     body {
         background-color: white;
         font-family: Arial, Helvetica, sans-serif;
         margin: 0px;


     }

     #root {

         background-color: white;
         margin: 0px;


     }

     .header-class {
         margin: 0px;
         color: beige;
         background-color: RGB(0, 57, 133, 0.8);
         text-align: center;
         text-transform: uppercase;
         padding-top: 10px;
         padding-bottom: 10px;
         font-size: 30px;
         font-weight: 600;
     }
     .main{
         position: absolute;
         padding-top: 10px;
         padding-left: 20px;
         height: 500px;
         border: 1px solid black;
         left:20%;
         right:100px;
         overflow-y: scroll;
     }
.link-div{
height:20px;
width: auto; 
display: inline-block;
margin-top: 10px;
background-color: rgb(178, 222, 220);

}

     a{
         text-decoration: none;
         background-color: white;
         color: white;
         cursor:pointer;
         color: black;
         padding: 3px 3px 3px 3px;
         width: 300px;
         border-radius: 10px;
     }

     a:hover, .btn:hover {
         box-shadow: 10px 10px 5px rgb(84, 100, 121);
        background-color: rgb(178, 222, 220);
     }
     a:visited {
         color: blueviolet;
     }
     .btn {
        text-decoration: none;
            background-color: rgb(45, 238, 229);
            cursor: pointer;
            color: black;
            padding: 3px 3px 3px 3px;
            border-radius: 10px;
            border: 0px solid;
                font-family: Arial, Helvetica, sans-serif;
                text-align: left;
                font-size: medium;
                box-shadow: 10px 10px 5px rgb(84, 100, 121);
                
     }
     
      .shushu-image {
          width: 200px;
          height: 200px;
          border: 1px solid black;
          box-shadow: 10px 10px 5px rgb(84, 100, 121);

        }                
    .shushu-image:hover{
        opacity: 0.7;
        cursor: pointer;
    }

